.title h2 {
    position:relative;
    font-size:24px;
    font-weight:bold;
    letter-spacing:0px;
    text-transform:uppercase;
    text-align:center;
    border:2px solid rgb(17, 117, 92);
    margin: 20px 60px;
    color: white;
  }

  .title h2:before, .title h2:after {
      background-color: #c50000;
      position:absolute; 
      content: '';
      height: 7px;  
      width: 7px;
      border-radius:50%;
      bottom: 12px;
  }
  .title h2:before {
     left:-20px;
  }
  .title h2:after {
     right:-20px;
  }
  